absl-py==2.3.1
attrs==25.3.0
cmgdb==1.3.1
contourpy==1.3.2
cycler==0.12.1
dm-env==1.6
dm-tree==0.1.9
dytop==0.1.13
etils==1.13.0
fonttools==4.59.0
fsspec==2025.7.0
glfw==2.9.0
importlib-resources==6.5.2
kiwisolver==1.4.8
labmaze==1.0.6
lxml==6.0.0
matplotlib==3.10.5
mujoco==3.3.5
packaging==25.0
protobuf==6.31.1
pychomp2==1.1.1
pyopengl==3.1.9
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-graphviz==0.21
scipy==1.15.3
six==1.17.0
wrapt==1.17.2
zipp==3.23.0
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1